---
import IconEdit from "@/assets/icons/IconEdit.svg";
import LinkButton from "./LinkButton.astro";
import { SITE } from "@/config";

type Props = {
  class?: string;
  filePath?: string;
  hideEditLink?: boolean;
};

const { filePath, hideEditLink, class: className = "" } = Astro.props;

const href = filePath ? `${SITE.editLink.url}${filePath}` : "";
const showEditLink = SITE.editLink.enabled && !hideEditLink && href !== "";
---

{
  showEditLink && (
    <LinkButton
      href={href}
      class:list={["space-x-1.5", className]}
      title={SITE.editLink.text}
    >
      <IconEdit class="inline-block" />
      <span>{SITE.editLink.text}</span>
    </LinkButton>
  )
}
